body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
nav{
    margin-top: 30px;
    width: 90%;
}
ul{
    margin:0;
    padding: 0;
    list-style: none;
    text-align: right;
}
ul li{
    display: inline;
    margin-right: 30px;
}
ul li a{
    text-decoration: none;
    color: rgb(130, 134, 138);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1em;
}
ul li:hover a{
    color:  #FE472D;
}
.current a{
    color: #FE472D;
}

.opening{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 50px;
}
.half-width{
    width: 50%;
    margin: auto;
   
}
.half-width img{
    width: 100%;
}
.opening h1{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 800;
    color:  rgb(109, 113, 116);
    line-height: 1.5em;
    
}
.highlited{
    color: #fc8f49;
}
.opening p{
    color:rgb(109, 113, 116);
    font-size: 20px;
    margin-bottom: 20px;
}
.btn{
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    color: white;
    font-size: 18px;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 50px;
}
.btn:hover{
    background-image: linear-gradient( tomato,orange);
}

.about-us{
    display: flex;
    background-image: url(images/bg.png);
    background-size: cover;
}
.half-width-2{
    width: 40%;
    margin: auto;
}
.half-width-2 img{
    width: 300px;
    height: auto;
    
}
.half-width-2 h1{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 800;
    color:  rgb(109, 113, 116);
}
.half-width-2 p{
    color:rgb(109, 113, 116);
    font-size: 20px;
    margin-bottom: 20px;
}